@model IEnumerable<LW_1.Models.Entities.Сотрудник>

@{
    ViewBag.Title = "Список касиров";
}

<h2>Список касиров</h2>

<p>
    @Html.ActionLink("Create New", "CreateCashier", "Lab3")
</p>
<table class="table">
    <tr>
        <th>
            ФИО
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия)
            @Html.DisplayFor(modelItem => item.Имя)
            @Html.DisplayFor(modelItem => item.Отчество)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCashier", new { controller = "Lab4", cashierId = item.id_сотрудника }) |
            @Html.ActionLink("Details", "CashierDetails", "Lab2V2", new { cashierId = item.id_сотрудника }, null) |
            @Html.ActionLink("Delete", "DeleteCashier", new { controller = "Lab4", id =item.id_сотрудника })
        </td>
    </tr>
}

</table>
