@model LW_1.Models.ViewModels.GroupVM

@{
    ViewBag.Title = "DeleteGroup";
}

<h2>DeleteGroup</h2>

@if (Model != null)
{
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Группы</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Наименование)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Наименование)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Год_поступления)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Год_поступления)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Длительность_обучения)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Длительность_обучения)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Институты.Наименование)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Институты.Наименование)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Направления_подготовки.Наименование)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Направления_подготовки.Наименование)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Формы_обучения.Наименование)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Формы_обучения.Наименование)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

}
else
{
    <p>Объект не найден</p>
}

